* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 768px) {
    font-size: 87.5%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #015cb9;
  background-image: url('images/circuit-board.svg');
}

body,
input,
textarea,
button {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.login-main-content {
  min-height: 100vh;
  display: flex;
  // align-items: center;
  justify-content: center;
  position: relative;
}

.illustration {
  // background: #08a742;
  display: flex;
  padding-left: 2rem;
  height: 100%;
  width: 100%;

  img {
    animation: bounce 3s infinite linear;
    width: 100%;
    // max-width: 550px;
  }
}

@keyframes bounce{
  0%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-12px);
  }
  100%{
    transform: translateY(0);
  }
}

@media(max-width: 768px){
  .illustration{
    display: none;
  }
}

.login-form-wrapper {
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
  .wrapper{
    max-width: 1120px;
    gap: 2rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.16);
  }

  // backdrop-filter: blur(32px);
  
  form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    padding: 2rem;

    h2 {
      font-size: 3.5rem;
      font-weight: 300;
      margin-bottom: 2rem;
    }

    > button {
      width: 100%;
      height: 3rem;
      background: #08a742;
      font-size: 1.1rem;
      border: none;
      color: #fff;
      font-weight: 400;
      transition: 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  position: relative;

  button.toggle-pass {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 0.8rem;
    right: 1rem;
    background: transparent;
    border: none;

    svg {
      width: 20px;
      height: 20px;

      &.visible {
        display: none;
      }
    }
  }

  & + .input-group {
    margin-top: 1.5rem;
  }

  input {
    width: 100%;
    border: 1px solid #ccc;
    height: 3rem;
    padding-left: 1.25rem;
    font-size: 1rem;

    &:focus {
      outline: 2px solid #015cb9;
    }
  }
}

.header-logo {
  width: 100%;
  // border: 1px solid;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  // height: 100px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 120px;
  }
}

.help-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0 2rem;
}

.forget-password {
  color: #015cb9;
}

.auth-header {
  background: #fefefe;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  height: 80px;
  border-bottom: 1px solid #ccc;
}

.menu,
.contact,
.logo {
  width: 100%;
  flex: 4;
}

.logo {
  flex: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}

.contact {
  border-left: 1px solid #ccc;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;

  .pais {
    display: flex;
    flex-direction: column;
    opacity: 0.7;
    height: 100%;

    strong {
      font-size: 0.9rem;
      margin-bottom: 0.25rem;
      font-weight: bold;
    }
    span {
      font-size: 0.8rem;
    }
  }
}

.menu {
  height: 75%;
  display: flex;
  align-items: center;
  border-right: 1px solid #ccc;

  .burger {
    padding: 0.25rem;
    background: transparent;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;

    &:hover {
      background: #cecece;
    }
  }

  cursor: pointer;
  svg {
    width: 24px;
    height: 24px;
  }
}

.contact-button {
  padding: 0.25rem 1rem;
  background: #08a742;
  border-radius: 2rem;
  height: 2.5rem;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  margin: auto 0;
}

.sidebar {
  position: fixed;
  left: -100%;
  z-index: 99;
  padding: 1.75rem 2.5rem;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  overflow-y: auto;
  background: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.7s;
  &.visible {
    left: 0;
  }

  img {
    margin-bottom: 0.5rem;
  }

  p {
    margin-top: 0.5rem;
    font-size: 1.125rem;
    color: rgb(163, 163, 163);
    font-weight: 300;
  }
}

.sidebar-navigation {
  margin-top: auto;
  width: 100%;
  list-style-type: none;
}

.sidebar-link {
  display: inline-block;
  width: 100%;
  text-align: right;
  padding: 1.675rem 0.5rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(163, 163, 163);
  font-size: 0.9rem;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #49b85a, #015cb9);
  }
}

.social {
  margin: 3rem 0 2rem;
  display: flex;
  gap: 2.5rem;

  a {
    img {
      width: 2.5rem;
      height: 2.5rem;
      transition: 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}

.close-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: none;
  z-index: 98;

  animation: fadeIn .7s ease;

  &.visible {
    display: block;
  }
}

@keyframes fadeIn {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}