* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  @media (max-width: 1080px) {
    font-size: 93.75%;
  }

  @media (max-width: 768px) {
    font-size: 87.5%;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  -webkit-font-smoothing: antialiased;
  background: #f5f5fd;
}

body,
input,
textarea,
button {
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 600;
}

button {
  cursor: pointer;
}

[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}

.login-main-content {
  min-height: 100vh;
  display: flex;
  // align-items: center;
  justify-content: center;
  position: relative;
}

.illustration {
  flex: 4;
  background: #015cb9;
  background-image: url("images/circuit-board.svg");
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    margin-left: -80%;
    width: 80%;
    transform: scale(0.8);
    max-width: 550px;
  }
}

.login-form-wrapper {
  flex: 8;
  width: 100%;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  // background: rgba(255, 255, 255, 1);
  // backdrop-filter: blur(32px);
  // box-shadow: 0 0 48px 0 rgba(0, 0, 0, 0.16);

  form {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;

    h2 {
      font-size: 2.5rem;
      font-weight: 500;
      margin-bottom: 2rem;
    }

    > button {
      width: 100%;
      height: 3rem;
      background: #08a742;
      font-size: 1.1rem;
      border: none;
      color: #fff;
      font-weight: 400;
      transition: 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}

.input-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  position: relative;

  button.toggle-pass {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: absolute;
    bottom: 0.8rem;
    right: 1rem;
    background: transparent;
    border: none;

    svg {
      width: 20px;
      height: 20px;

      &.visible {
        display: none;
      }
    }
  }

  & + .input-group {
    margin-top: 1.5rem;
  }

  input {
    width: 100%;
    border: 1px solid #ccc;
    height: 3rem;
    padding-left: 1.25rem;
    font-size: 1rem;

    &:focus {
      outline: 2px solid #015cb9;
    }
  }
}

.header-logo {
  width: 100%;
  // border: 1px solid;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  // height: 100px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    height: 120px;
  }
}

.help-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0.5rem 0 2rem;
}

.forget-password {
  color: #015cb9;
}

.auth-header {
  background: #fefefe;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 4rem;
  height: 80px;
  border-bottom: 1px solid #ccc;
}

.menu,
.contact,
.logo {
  width: 100%;
  flex: 4;
}

.logo {
  flex: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -10px;
}

.contact {
  border-left: 1px solid #ccc;
  display: flex;
  justify-content: flex-end;
  gap: 1.5rem;
  min-width: 388px;

  .pais {
    display: flex;
    flex-direction: column;
    opacity: 0.7;
    height: 100%;

    strong {
      font-size: 0.9rem;
      margin-bottom: 0.25rem;
      font-weight: bold;
    }
    span {
      font-size: 0.8rem;
    }
  }
}

.menu {
  height: 75%;
  display: flex;
  align-items: center;
  border-right: 1px solid #ccc;

  .burger {
    padding: 0.25rem;
    background: transparent;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.2s;

    &:hover {
      background: #cecece;
    }
  }

  cursor: pointer;
  svg {
    width: 24px;
    height: 24px;
  }
}

.contact-button {
  padding: 0.25rem 1rem;
  background: #08a742;
  border-radius: 2rem;
  height: 2.5rem;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.1rem;
  color: #fff;
  margin: auto 0;
}

.sidebar {
  position: fixed;
  left: -100%;
  z-index: 99;
  padding: 1.75rem 2.5rem;
  width: 100%;
  max-width: 400px;
  height: 100vh;
  overflow-y: auto;
  background: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.7s;
  &.visible {
    left: 0;
  }

  img {
    margin-bottom: 0.5rem;
  }

  p {
    margin-top: 0.5rem;
    font-size: 1.125rem;
    color: rgb(163, 163, 163);
    font-weight: 300;
  }
}

.sidebar-navigation {
  margin-top: auto;
  width: 100%;
  list-style-type: none;
}

.sidebar-link {
  display: inline-block;
  width: 100%;
  text-align: right;
  padding: 1.675rem 0.5rem;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(163, 163, 163);
  font-size: 0.9rem;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: black;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #49b85a, #015cb9);
  }
}

.social {
  margin: 3rem 0 2rem;
  display: flex;
  gap: 2.5rem;

  a {
    img {
      width: 2.5rem;
      height: 2.5rem;
      transition: 0.2s;

      &:hover {
        filter: brightness(0.9);
      }
    }
  }
}

.close-sidebar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: none;
  z-index: 98;

  animation: fadeIn 0.7s ease;

  &.visible {
    display: block;
  }
}

.footer-container {
  background: #222;
  color: #fff;
  display: flex;
  gap: 2rem;
  padding: 10% 6%;
  padding-top: 7rem;

  > section {
    flex: 3;
  }

  .footer-section-title {
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    border-left: 3px solid #49b85b;
    padding: 8px 15px;
    letter-spacing: 1px;
    line-height: 40px;
  }
}

.company-info {
  img {
    width: 180px;
  }
  p {
    margin-top: 2rem;
    margin-bottom: 30px;
    padding: 10px 5px;
    color: rgb(192, 192, 192);
    letter-spacing: 1px;
    font-size: 13px;
    line-height: 25px;
  }

  a {
    padding: 0.675rem 1.5rem;
    background: #08a742;
    border-radius: 2rem;
    text-decoration: none;
    color: #fff;
  }
}

.contact-info {
  display: flex;
  flex-direction: column;

  span {
    font-size: 15px;
    margin: 1.5rem 0;
    height: 3rem;
    display: flex;
    align-items: center;
    font-weight: 500;
    color: rgb(192, 192, 192);
  }

  .atendimento {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    color: rgb(192, 192, 192);

    .tel {
      display: flex;
      align-items: center;
      gap: 0.75rem;
      font-size: 13px;
      flex-wrap: wrap;

      ul {
        width: 100%;
        list-style: none;
        margin-left: 3rem;
        margin-top: 0.5rem;
        li {
          position: relative;

          & + li {
            margin-top: 1rem;
          }
          &::after {
            content: "";
            position: absolute;
            left: -24px;
            top: 50%;
            // transform: translateY(-50%);
            width: 12px;
            height: 2.5px;
            background: #08a742;
          }
        }
      }
    }

    a {
      display: inline-block;
      transition: 0.2s;
      text-decoration: none;
      font-weight: 500;
      letter-spacing: 2px;
      color: rgb(192, 192, 192);

      &:hover {
        color: rgb(158, 158, 158);
      }
    }
  }
}

.address-info {
  .map {
    margin-top: 1rem;
  }
  address {
    font-size: 0.8rem;
    letter-spacing: 2px;
    clear: right;
    margin-top: 10px;
    line-height: 160%;
  }
}

.sitemap-list {
  li {
    display: flex;
    align-items: center;
    padding: 1.5rem 0;
    border-right: none;
    border-bottom: 1px solid #333;
    font-size: 0.9rem;
    gap: 0.5rem;

    svg {
      width: 10px;
      height: 10px;
      path {
        fill: #08a742;
      }
    }

    a {
      color: rgb(192, 192, 192);
      text-decoration: none;
      transition: 0.2s;

      &:hover {
        color: #08a742;
      }
    }
  }
}

.copyright {
  width: 100%;
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  background: #333;

  p {
    max-width: 400px;
    font-size: 10px;
    color: rgb(192, 192, 192);

    & + p {
      text-align: right;
    }
  }
}

@media (max-width: 1320px) {
  .illustration {
    min-height: 600px;
    img {
      width: 100%;
      margin-left: -50%;
    }
  }
}

@media (max-width: 1024px) {
  .auth-header {
    padding: 0 2rem;
  }
  .login-main-content {
    flex-direction: column;
    .login-form-wrapper {
      padding: 15rem 2rem;
    }
  }

  .illustration {
    min-height: 450px;
    img {
      margin-left: 0;
      margin-top: -35%;
    }
  }

  .footer-container {
    flex-wrap: wrap;
    justify-content: space-between;

    > section {
      width: 45%;
      flex: auto;
    }
    .company-info,
    .address-info {
      width: 100%;
    }

    .company-info {
      margin-bottom: 3rem;
    }
  }
}

@media (max-width: 580px) {
  .copyright {
    flex-direction: column;
    p {
      text-align: center !important;
    }
  }
  .auth-header {
    justify-content: space-between;
  }
  .contact,
  .logo,
  .menu {
    width: 100%;
    border: none;
  }
  .contact {
    min-width: auto;
    justify-content: flex-end;
    .pais {
      display: none;
    }
  }

  .illustration {
    min-height: 350px;
    img {
      margin-top: -65%;
    }
  }

  .logo {
    width: 80px;
    max-width: 80px;
  }

  .sitemap {
    display: none;
  }
  .footer-container {
    > section {
      width: 100%;
    }
  }
}

@media (max-width: 450px) {
  .login-form-wrapper {
    form h2 {
      font-size: 2.5rem;
    }
  }
  .auth-header {
    padding: 0 1rem;
  }
  .illustration {
    min-height: 300px;
    img {
      margin-top: -75%;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
